.contact .photo img {
  width: 243px;
  height: 243px;
}

a:link{
  color: #fff;
  text-decoration: none;
}
a:visited{
	color: #fff;
}
a:hover{
	color: #fff;
}
a:active{
	color: #fff;
}


.contact {
  margin-top: 150px;
}


.contact .photo {
  text-align: center;
  justify-content: center;
}

.contact .personal h1 {
  letter-spacing: 1px;
  font-size: 30px;
  margin-top: 0px;
  font-weight: 500;
}

.contact .section {
  margin-top: 35px;
  width: 434px;
  color: rgba(8, 6, 43, 1);
}

.resume {
  margin-top: 60px;
}

.contact .section div {
  background: #BB3939;
  color: white;
  width: 170px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 23px;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .contact {
    margin-top: 158px;
  }

  .contact .personal h1 {
    font-size: 22px;
    font-weight: 500;
  }

  .mb-bor {
    text-align: center;
  }

  .beautiful {
    width: 67%;
    margin: 70px 0 50px 0;
  }

  .contact .section {
    display: flex;
    justify-content: left;
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
  }

  .contact .resume {
    margin-top: 52px;
    display: flex;
    justify-content: center;
  }
}