.home .banner {
  /* height: 500px; */
  padding-top: 254px;
  padding-bottom: 169px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.home h1 {
  font-size: 30px;
  font-weight: 500;
}

.home .banner .ico {
  width: 20px;
}

.home .banner .tit {
  font-size: 30px;
  letter-spacing: 1px;
}

.home .banner .pel {
  font-size: 18px;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0)
  }

  40% {
    transform: translateY(-30px)
  }

  60% {
    transform: translateY(-15px)
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  -webkit-animation-fill-mode: both;
}

.home .arrow {
  background: url('../images/home/downarrow.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: -20px;
  width: 40px;
  height: 25px;
  cursor: pointer;
}



.home .prodlist {
  margin-top: 144px;
}

.prodlist h1 {
  margin-bottom: 60px;
}

.pbor {
  overflow: hidden;
  height: 290px;
}

.fbor {
  margin: 35px 0 60px 0;
}

.wechat {
  background: #9cc460;
  text-align: center;
}

.wechat .picture {
  width: 70%;
  margin: 0px auto;
}

.book {
  border: 1px solid #DDDDDd;
  text-align: center;
}

.book img {
  height: 100%;
  width: 362px;
}

.home .sm {
  background: #ebc25b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .sm img {
  width: 33%;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}

.home .Magazine {
  justify-content: center;
  border: 1px solid #DDDDDd;
}


.home .Magazine img {
  width: 80%;
}

.home .prodlist .picture {
  /* height: 350px; */
}

@media (max-width: 992px) {
  .home .banner {
    display: inline-block;
    height: auto;
    padding-bottom: 52px;
    padding-top: 158px;
  }

  .home .prodlist {
    margin-top: 95px;
  }

  .home .banner .tit {
    /* margin-top: 120px; */
    font-size: 22px;
  }

  .wechat {
    display: flex;
    align-items: center;
  }

  .book img {
    width: 100%;
  }

  .prodlist h1 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .fbor {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .home .aboutme {
    margin-top: 56px;
  }

  .home .Leichi {
    border: 1px solid #DDDDDd;

  }
}