.banner {
  position: relative;
  margin-top: 122px;
}
.m1 .book img {
  width: 612px;
  height: 458px;
}
.problem,
.banner,
.audi {
  padding: 0 4em;
}

.banner .bor {
  display: flex;
  align-items: center;
}

.banner img {
  width: 100%;
}

h3 {
  font-weight: 700;
  margin-bottom: 0px;
}

.b-left .subtitle {
  font-size: 16px;
  margin-bottom: 30px;
}

.problem,
.solution,
.audi,
.competitors,
.persona,
.feature,
.interface,
.techonology {
  margin-top: 150px;
}

.problem h3,
.solution h3,
.audi h3,
.competitors h3,
.persona h3 {
  letter-spacing: 2px;
}

.problem .subtitle {
  margin-top: 70px;
  font-weight: 500;
  margin-bottom: 42px;
}

.problem .icon {
  margin-right: 44px;
}

.problem .font {
  margin-top: 38px;
}

.problem .icon img {
  width: 60px;
}

.problem .desc {
  padding-right: 8%;
}
.solution {
  position: relative;
  padding-bottom: 106px;
}
.solution .menu {
  background: black;
  height: 35px;
  border-radius: 0 35px 35px 0;
  position: relative;
  color: white;
  font-weight: 700;
  margin-top: 60px;
  width: 626px;
  margin-left: -4em;
}

.solution .menu span {
  margin-left: 383px;
  letter-spacing: 1px;
}

.solution .menu-selected {
  background: #BB3939;
  height: 35px;
  border-radius: 0 35px 35px 0;
  position: absolute;
  top: 0;
  padding-left: 4em;
  letter-spacing: 1px;
  width: 339px;
}

.solution .rule {
  display: flex;
  margin-top: 30px;
}

.solution .rule .bor:nth-child(2) {
  margin-left: 95px;
}

.solution h3 {
  padding-left: 4em;
}



/* .solution .rule .bor:nth-child(2) p {
  margin-left: 10%;
} */

.solution .note {
  background: #fbf4f4;
  /* width: 270px;
  height: 160px; */
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 60px;
  display: flex;
  padding: 30px;
  align-items: flex-start;
}

.solution .note .note-bor {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution .note .note-bor .tit {
  /* font-weight: 700; */
}

.solution .note .note-bor .desc {
  margin-top: 15px;
  line-height: 22px;
}


.line {
  width: 340px;
  position: absolute;
  bottom: 0px;
  height: 4px;
  background: #BB3939;
  left: 50%;
  margin-left: -170px;
}

.solution-bor {
  padding-bottom: 92px;
}

.audi .tit {
  display: flex;
  align-items: flex-end;
  margin-top: 74px;
  letter-spacing: 0;
  font-size: 14px;
}



.audi .con {
  margin-top: 39px;
}

.audi .tit img {
  width: 52px;
  height: 52px;
  margin-left: 49px;
}

.audi .col-xs-4 {
  margin: 0px;
}

.competitors {
  overflow: hidden;
}

.competitors .die img {
  width: 100%;
}

.competitors .pic .tit {
  margin-top: 60px;
  letter-spacing: 0px;
}

.competitors .desc {
  margin: 18px 0 32px 0;
}

.competitors .star {
  margin-top: 105px;
}
.competitors .star .tit {
  letter-spacing: 0px;
}
.competitors .google {
  margin-bottom: 20px;
}

.competitors .star img {
  /* width: 100%; */
}
.competitors .star .star1 {
  width: 310px;
  height: 222px;
}


.competitors .star-text {
  margin-top: 40px;
}

.star2 {
  margin-top: 20px;
  width: 280px;
  height: 84px;
}

.avalon {
  margin-top: 60px;
  overflow: hidden;
}

.avalon .con {
  display: flex;
  align-items: center;
}

.avalon .picture {
  width: 80%;
  margin: 0px auto;
}

.avalon .booktext {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.avalon .subtit {
margin: 21px 0px 35px 0px;
}

.avalon .pros {
  margin-bottom: 30px;
}

.avalon .pros p {
  margin: 0px;
}

.bottomline {
  background: #BB3939;
  height: 35px;
  width: 50%;
  float: right;
  border-radius: 35px 0 0 35px;
  padding-left: 8%;
  color: white;
  line-height: 35px;
  font-weight: 700;
  margin-top: 120px;
  letter-spacing: 1px;
}

.line-bor {
  overflow: hidden;
}

.persona {
  overflow: hidden;
}

.persona-bor {
  margin-top: 60px;
  background: #fbf4f4;
  border-radius: 20px;
  padding: 60px;
  overflow: hidden;
}

.persona-bor .uinfo {
  overflow: hidden;
}

.persona-bor .uinfo .tit {
  padding-top: 70px;
}

.persona-bor .age {
  margin-top: 15px;
}

.persona-bor .uinfo .headerimg {
  text-align: center;
}

.persona-bor .uinfo .headerimg img {
  width: 150px;
  height: 150px;
}

.persona .ustory {
  margin-top: 30px;
}

.feature .subtit {
  margin: 117px 0 60px 0;
  position: relative;
}

.feature .subtit .bgimg {
  position: absolute;
  width: 60px;
  left: 0;
  z-index: -1;
  top: -22px;
}

.Wireframe {
  margin-bottom: 60px;
  overflow: hidden;
}

.feature .Flow {
  margin-bottom: 10px;
}

.feature .list:not(:last-child) {
  overflow: hidden;
  margin-bottom: 60px;
}

.feature .rule {
  margin-top: 21px;
}

.feature .img4 {
  width: 72%;
}

.feature .img5 {
  width: 18.5%;
}

.feature .labTit {
  margin-top: 141px;
  margin-bottom: 70px;
}

.testing {
  margin-top: 122px;
}
.testing .picture {
  width: 96%;
}

.testing .tit {
  margin: 22px 0 30px 0;
}

.testing ul li {
  margin-bottom: 30px;
}

.interface {
  position: relative;
}

.interface .uibor {
  margin-top: 30px;
}

.interface .uibor img {
  width: 194px;
  height: 390px;
}

.interface .tit {
  margin-top: 30px;
}

.interface .num {
  color: #BB3939;
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
}

.interface .list {
  text-align: center;
  margin-top: 70px;
}

.techonology .subtit {
  margin: 60px 0 35px 0;
}

.techonology .list .btn {
  background: #BB3939;
  color: white;
  font-weight: bold;
  border-radius: 23px;
  padding: 15px 30px 15px 30px;
  font-size: 13px;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  /* 
  .banner,
  .solution .menu-selected,
  .solution h3,
  .problem,
  .solution .rule .bor p,
  .solution .menu,
  .audi,
  .model-bor {
    padding-right: 0;
    padding-left: 0;
  } */
  .m1 .book img {
    width: 100%;
    height: auto;
  }
  .problem,
  .solution,
  .audi,
  .competitors,
  .interface,
  .techonology {
    margin-top: 100px;
  }

  .banner .bor {
    display: inline-block;
  }

  .b-right {
    margin-top: 30px;
  }

  .problem .icon img {
    width: 30px;
  }

  .problem .subtitle {
    padding-right: 18%;
    margin-top: 56px;
  }

  .problem .icon {
    margin-right: 30px;
  }

  .problem .flex-parent {
    align-items: baseline;
    margin-top: 30px;
  }

  .solution .menu {
    width: 60%;
    margin-top: 30px;
    margin-left: -34px;
    padding-left: 34px;
  }

  .solution .menu p,
  .solution .menu-selected p {
    margin-bottom: 0;
  }

  .solution .rule {
    margin-top: 44px;
  }

  .solution .menu-selected {
    position: relative;
    width: 90%;
    text-align: center;
    color: white;
    margin-top: 52px;
    font-weight: 700;
    padding-left: 34px;
    margin-left: -34px;
  }


  .solution .note {
    margin-top: 60px;
  }

  .solution .rule .bor p {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .line {
    width: 60%;
    margin-left: -30%;
  }

  .audi .tit {
    margin-top: 50px;
  }

  .audi .con {
    margin-top: 40px;
  }

  .competitors .star {
    margin-top: 40px;
  }

  .competitors .google {
    margin-bottom: 30px;
  }

  .competitors .pic .tit {
    margin-top: 50px;
  }

  .competitors .desc {
    margin: 22px 0px 30px 0px;
  }

  .competitors .star-text {
    margin-top: 50px;
  }

  .avalon .con {
    display: inline-block;
    align-items: center;
  }

  .avalon .picbor {
    text-align: center;
    margin-bottom: 50px;
  }

  .star2 {
    margin-top: 30px;
  }

  .avalon .subtit {
    padding: 30px 34px 32px 34px;
  }

  .bottomline {
    width: 85%;
    margin-top: 50px;
  }

  .persona-bor {
    padding: 50px 20px 50px 20px;
  }

  .pain div:nth-child(2) {
    margin-top: 30px;
  }

  .feature .img4 {
    width: 100%;
  }

  .feature .img5 {
    width: 100%;
  }

  .feature .subtit {
    position: relative;
  }

  .feature .subtit .bgimg {
    /* left: 34px; */
  }

  .feature .m-last-phone {
    display: flex;
    align-items: center;
  }

  .feature .m-last-phone div:nth-child(1) {
    width: 25%;
  }

  .feature .m-last-phone div:nth-child(2) {
    flex: 1;
    padding-left: 30px;
  }

  .feature .labTit {
    margin-top: 60px;
  }

  .testing {
    margin-top: 100px;
  }

  .testing .tit {
    margin: 50px 0 30px 0;
  }

  .interface .list {
    margin-top: 50px;
  }

  .interface {
    padding-bottom: 80px;
  }

  .techonology .list {
    text-align: center;
  }

  .testing ul li {
    margin-bottom: 20px;
  }

  .techonology .mblist {
    display: flex;
  }

  .techonology .subtit {
    margin-top: 45px;
  }

  .techonology .mblist div {
    width: 50%;
  }

  .techonology .list .btn {
    margin: 0px auto;
    color: white;
    margin-top: 100px;
  }

  .techonology .list .btn.mb-bor {
    display: inline-block;
  }

  .problem,
  .banner,
  .audi {
    padding: 0px;
  }

  .feature .Flow {
    margin-bottom: 30px;
  }
}