.m2,
.m3,
.m4,
.m5,
.m6,
.userflow,
.Wireframe,
.Interface {
  margin-top: 141px;
}

.m1 .book img {
  width: 231px;
}

.m1 .book {
  margin-left: 190px;
}

.m2 .subtit {
  color: rgba(33, 33, 33, 1);
  margin-top: 70px;
  width: 818px;
}

.m3 .opt {
  display: flex;
  margin-top: 70px;
}

.m3 .imgbor {
  text-align: center;
}

.m3 .picture {
  width: 231px;
}

.m3 .opt .col-md-4 {
  flex: 1;
  margin-left: 100px;
}

.m3 .opt .col-md-4:first-child {
  margin-left: 0px;
}

.m3 .opt .col-md-4 .subtit {
  height: 80px;
}

.m3 .opt .col-md-4 .picture {
  margin-top: 70px;
}



.m4bor,
.m6bor {
  background: rgba(242, 243, 239, 1);
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 53px;
  width: 100%;
  overflow: hidden;
}

.m4 .picture,
.m6bor .picture {
  width: 510px;
  height: 212px;
}

.m5 .chart .cbor {
  overflow: hidden;
  margin-bottom: 70px;
}

.m5 .chart img {
  width: 224px;
  float: left;
  height: 159px;
}

.m5 .chartbor {
  margin-top: 46px;
}

.m5 .chartbor .picture {
  width: 96%;
}

.m5 .chart .c2 {
  float: right;
}

.m6 .picture {
  width: 70px;
  height: 70px;
}

.m6bor {
  background: rgba(251, 244, 244, 1);
}

.m6 .flex-parent {
  align-items: flex-start;
  font-size: 15px;
}

.m6 .primaryta {
  margin-right: 34px;
}

.m6 ul {
  margin-top: 58px;
}


.m7 .picture {
  width: 179px;
  height: 180px;
  margin-top: 35px;
  margin-bottom: 70px;
}

.m7 .Audience {
  font-size: 18px;
}

.m7 .subtit {
  line-height: 22px;
}

.m7 .col-md-4:nth-child(2) {
  margin-left: -15px;
}

.m8 .chartbor {
  margin-top: 78px;
}

.m8 .chartbor ul li {
  font-size: 13px;
}

.m8 .Audience {
  font-size: 18px;
  margin-bottom: 35px;
}

.m9 .list {
  margin-top: 70px;
}

.userflow .uinfor {
  margin-top: 35px;
}

.userflow .name {
  font-size: 18px;
  margin-bottom: 35px;
}

.userflow .face {
  width: 260px;
  height: 260px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.userflow .info {
  margin-top: 49px;
}

.userflow .info li {
  font-size: 13px;
}

.userflow .do {
  margin-bottom: 150px;
}

.Wireframe .flex-parent .wopt {
  width: 174px;
  height: 311px;
  flex: 1;
  margin-left: 46px;
}

.Wireframe .flex-parent .wopt img {
  border: 1px solid #000000;
}

.Wireframe .flex-parent:first-child {
  margin-bottom: 44px;
}

.Wireframe .flex-parent img:first-child {
  margin-left: 0px;
}

.Interface .m4bor {
  margin-top: 0px;
}

.Interface .flex-parent {
  align-items: flex-start;
}

.Interface .flex-parent:last-child .opt {

  margin-bottom: 0px;
}

.Interface .flex-parent:first-child {
  margin-bottom: 70px;
}

.Interface .flex-parent:last-child {
  margin-bottom: 0px;
}

.Interface .flex-parent .opt:first-child {
  margin-left: 0px;

}

.Interface .flex-parent .opt {
  width: auto;
  height: auto;
  flex: 1;
  margin-left: 80px;
}

.Interface .pagename,
.Interface .subtit {
  text-align: center;
}

.Interface .pagename {
  margin-bottom: 27px;
}

.Interface .m4bor {
  background: white;
}

.Wireframe3 .flex-parent:first-child {
  margin-bottom: 0px;
}

.Interface3 .flex-parent .opt:first-child {
  margin-bottom: 0px;
}

@media (max-width: 992px) {
  .m1 .book img {
    width: 70%;
  }

  .m1 .book {
    margin-left: 0px;
  }

  .m2,
  .m3,
  .m4,
  .m5,
  .m6,
  .userflow,
  .Wireframe,
  .Interface {
    margin-top: 100px;
  }

  .m2 .subtit {
    width: auto;
    margin-top: 50px;
  }

  .m3 .opt {
    margin-top: 50px;
    display: inline-block;
  }

  .m3 .picture {
    width: 100%;
  }

  .m3 .opt .col-md-4 .picture {
    margin-top: 50px;
    width: 70%;
  }

  .m3 .opt .col-md-4 {
    margin-left: 0px;
    margin-bottom: 70px;
  }

  .m3 .opt .col-md-4:last-child {
    margin-bottom: 0px;
  }

  .m3 .imgbor {
    text-align: center;
  }

  .m4 .flex-parent {
    display: inline-block;
  }

  .m4 .picture {
    width: 100%;
    height: auto;
  }

  .m4 .subtit {
    margin-top: 30px;
  }

  .m4bor {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
  }

  .m5 .chart .cbor {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .m5 .chart img {
    width: 142px;
    height: 101px;
  }

  .m6 {
    margin-top: 50px;
  }

  .m6 .picture {
    width: 56px;
    height: 56px;
  }

  .m6 .flex-parent:first-child {
    margin-bottom: 37px;
  }

  .m6 ul {
    margin-top: 31px;
  }

  .m6bor {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .m7 .Audience {
    margin-bottom: 25px;
  }

  .m3 .opt .col-md-4 {
    margin-bottom: 50px;
  }

  .m7 .opt .col-md-4 .picture {
    width: 86px;
    height: 87px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .m8 .chartbor {
    margin-top: 50px;
  }

  .m8 .Audience {
    font-size: 14px;
  }

  .m8 .col-md-6 {
    line-height: 25px;
  }

  .m8 .chartbor ul li {
    font-size: 12px;
  }

  .m8 .col-md-6:last-child {
    margin-top: 50px;
  }

  .m9 .list {
    margin-top: 50px;
  }

  .m9 .list ul li {
    font-size: 12px;
    line-height: 25px;
  }

  .userflow .do {
    margin-bottom: 50px;
  }

  .userflow .name {
    margin-bottom: 30px;
  }

  .userflow .face {
    width: 142px;
    height: 142px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .userflow .info {
    margin-top: 0px;
  }

  .userflow .uinfor-bor {
    display: flex;
    align-items: center;
  }

  .userflow .photobor {
    margin-bottom: 25px;
  }

  .userflow .name {
    font-size: 14px;
  }

  .userflow .col-md-8 .name {
    letter-spacing: 1px;
    margin-top: 25px;
  }

  .Wireframe .flex-parent .wopt {
    margin-left: 26px;
    height: auto;
  }

  .Wireframe .stepbor {
    margin-top: 25px;
  }

  .Interface .pagename {
    margin-top: 23px;
    margin-bottom: 0px;
    font-size: 12px;
  }

  .Interface .subtit {
    font-size: 12px;
    margin-top: 25px;
  }

  .Interface .m4bor {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .Interface .mb-bor .col-md-12 .row {
    margin-top: 40px;
  }

  .m8 .Audience {
    margin-bottom: 25px;
  }
}